<html ng:app="Eriksson">
  <head>
    <title>DataTables</title>

    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    <!-- build:css /css/all.min.css -->
    <link rel="stylesheet" href="/css/lib/datepicker.css"/>
    <link rel="stylesheet" href="/css/base.css"/>
    <!-- endbuild -->
  </head>
  <body>

  <header class="navbar navbar-static-top bs-docs-nav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse"
          data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="../"
          class="navbar-brand">Eriksson</a>
      </div>
      <nav
        class="collapse
        navbar-collapse
        bs-navbar-collapse"
        role="navigation">
        <ul
          class="nav
          navbar-nav">
          <li
          class="active">
          <a
            href="../getting-started">Projekte</a>
          </li>
          <li>
          <a
            href="../components">Kunden</a>
          </li>
        </ul>
        <ul
          class="nav
          navbar-nav
          navbar-right">
          <li><a
            href="#">Abmelden</a></li>
        </ul>
      </nav>
    </div>
  </header>

    <div class="container">
      {{yield}}
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <!-- build:js /js/all.min.js -->
    <script src="/js/lib/moment.js"></script>
    <script src="/js/lib/datepicker.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/directives/formgroup.js"></script>
    <script src="/js/directives/myform.js"></script>
    <script src="/js/services/ProjectService.js"></script>
    <script src="/js/controllers/ProjectNewCtrl.js"></script>
    <!-- endbuild -->
  </body>
</html>
